:root {
	--background-color-left: #ffffff;
	--background-color-right: #0056fb;
	--background-button: #0056fb;
	--text-color-primary: #ffffff;
	--text-color-secondary: #000000;
	--color-border: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}
.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 50%;
}

.left {
	background-color: var(--background-color-left);
	align-items: center;
	justify-content: center;
}
form {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;
}

h2 {
	width: 100%;
	height: 49px;
	font-weight: 700;
	font-size: 42px;
	letter-spacing: 5.5%;
	justify-content: start;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
	justify-content: center;
	align-items: center;
	width: 444px;
	height: 36px;
	border-radius: 4px;
	border: 1px solid var(--color-border);
	padding-left: 20px;
}

.area-checkbox {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

.area-button {
	display: flex;
}

.area-button img {
	margin-left: -40px;
	margin-bottom: -60px;
	opacity: 0.2;
}

input[type="button"] {
	width: 100%;
	margin-top: 20px;
	background-color: var(--background-button);
	height: 36px;
	border: none;
	border-radius: 4px;
	color: var(--text-color-primary);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}

input[type="button"]:hover {
	opacity: 0.9;
}

.area-login-account {
	margin-top: 20px;
	font-size: 16px;
	display: flex;
	gap: 6px;
}

.area-login-account p {
	font-weight: 700;
}

.area-login-account a {
	text-decoration: none;
	color: var(--text-color-secondary);
	font-weight: lighter;
}

.right {
	background-color: var(--background-color-right);
	color: var(--text-color-primary);
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0 40px;
}

.right h1 {
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	letter-spacing: 5.5%;
}

@media (max-width: 1320px) {
	.container {
		flex-direction: column;
		height: 100vh;
	}

	.left {
		width: 100%;
		padding-bottom: 6px;
	}

	.left img {
		display: none;
	}

	form {
		width: 100%;
		padding: 0 40px;
	}

	form h2 {
		font-size: 32px;
	}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"] {
		width: 100%;
	}
	.right {
		width: 100%;
		padding-bottom: 60px;
	}

	.right h1 {
		font-size: 20px;
	}

	.right img {
		width: 300px;
		margin-top: 60px;
	}
}
